.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   
}
    .logo{
    width: 120px;
 
}
.nav-item ul {
    display: flex;
    padding: 0; /* To remove default padding */
    margin: 0; /* To remove default margin */
}

.nav-item ul li {
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: 15px;
}
.restaurant-card{
    width: 200px;

margin: 10px;
    padding: 5px;
   
}
.resturant-container{
    display: flex;
    flex-wrap: wrap;
  /* gap: 15px; */
}
.resturant-container h4{
    font-size: 10px;
}
.search{
    padding: 10px;
}
.res-img{
    width: 100%;
   
}
.restaurant-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.footerContainer {
    position: relative; /* Ensures top property works */
    top: 10px;
    width: 100%; /* Makes sure the container spans the full width */
    display: flex;
    justify-content: center; /* Centers the footer content horizontally */
    align-items: center; /* Centers the footer content vertically */
    padding: 20px 0; /* Adds padding to the top and bottom */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  .filter-btn{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
  }
  .footer {
    background-color: black;
    color: wheat;
    height: 100px;
    width: 100%; /* Makes sure the footer spans the full width */
    display: flex;
    justify-content: center; /* Centers the footer content horizontally */
    align-items: center; /* Centers the footer content vertically */
    text-align: center; /* Centers the text */
  }
  .shimmer-container{
    display: flex;
    flex-wrap: wrap;
  }
  .shimmer-card{
    width: 200px;
    height: 400px;
    background-color:#f0f0f0;
    margin: 20px;
  }

.login-button{
    padding:  10px;
    margin: 5px;
    cursor: pointer;
}
.filter{
  display: flex;
}